{% extends "base.html" %}
{% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<div class="row">
						<div class="col-12 col-sm-6 col-xl d-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
										<div class="d-inline-block mt-2 mr-3">
											<i class="feather-lg text-primary" data-feather="users"></i>
										</div>
										<div class="media-body">
											<h3 class="mb-2">{{ all_register }}</h3>
											<div class="mb-0">Jami Arizalar</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-xl d-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
										<div class="d-inline-block mt-2 mr-3">
											<i class="feather-lg text-warning" data-feather="user-plus"></i>
										</div>
										<div class="media-body">
											<h3 class="mb-2">{{ today }}</h3>
											<div class="mb-0">Kunlik Arizalar</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-xl d-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
										<div class="d-inline-block mt-2 mr-3">
											<i class="feather-lg text-danger" data-feather="calendar"></i>
										</div>
										<div class="media-body">
											<h3 class="mb-2">{{ month }}</h3>
											<div class="mb-0">Oylik Arizalar</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-lg-12 d-flex">
							<div class="card flex-fill w-100">
							  <div class="card-body">
								<div class="card">
								<div>
								  <canvas id="myChart"></canvas>
								</div>

								<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

								<script>
										const ctx = document.getElementById('myChart');
										new Chart(ctx, {
										type: 'line',
										data: {
										  labels: [{% for i in qs %} "{{ i.day }} {{ i.mon }}", {% endfor %}],
										  datasets: [{
										  label: '# of Votes',
										  data: [{% for x in qs %} {{ x.n }}, {% endfor %}],
										  borderWidth: 1
										  }]
										},
										options: {
										  scales: {
										  y: {
											beginAtZero: true
										  }
										  }
										}
										});
								</script>
								</div>
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</main>
{% endblock content %}