{% extends 'base.html' %}
{% block content %}
			{% if task_title %}
				<main class="content">
				<div class="container-fluid p-0">
					{% for i in task_title %}
					<div class="col-12 col-lg-12">
							<div class="card">
								<div class="card-body">
									<div class="tab-content">
										<div class="row">
											<div class="col-6 text-center">
												<h5>{{ i.title_uz }}</h5>
												<p>{{ i.text_uz }}</p>
											</div>
											<div class="col-6 text-center">
												<h5>{{ i.title_ru }}</h5>
												<p>{{ i.text_ru }}</p>
											</div>
										</div>
										<div class="row float-right mt-n1" style="padding-top:30px;">
											<button type="button" class="btn btn-warning float-right mt-n1" data-toggle="modal" style="margin-right:5px;" data-target="#centeredModal{{ i.id }}"><i class="fas fa-edit"></i></button>
											<div class="modal fade" id="centeredModal{{ i.id }}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h3 class="modal-title">Edit</h3>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													</div>
															<form action="{% url 'update_task_title_url' %}" method="post">
																		{% csrf_token %}
																		<div class="row" style="padding:10px;">
																			<div class="form-group col-md-6">
																				<label class="form-label">Title uz</label>
																				<input type="text" class="form-control" value="{{ i.title_uz }}" name="title_uz" required>
																			</div>
																			<div class="form-group col-md-6">
																				<label class="form-label">Title ru</label>
																				<input type="text" class="form-control" value="{{ i.title_ru }}" name="title_ru" required>
																			</div>
																			<div class="col-md-12">
																				<div class="form-group">
																					<label class="form-label">Text uz</label>
																				  <textarea class="form-control" name="text_uz" rows="2" required>{{ i.text_uz }}</textarea>
																				</div>
																			</div>
																			<div class="col-md-12">
																				<div class="form-group">
																					<label class="form-label">Text ru</label>
																				  <textarea class="form-control" name="text_ru" rows="2" >{{ i.text_ru }}</textarea>
																				</div>
																			</div>
																			<div class="col-md-12">
																				<div class="modal-footer">
																				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																				<input type="hidden" name="modal_id" value="{{ i.id }}">
																				<button type="submit" class="btn btn-primary">Save changes</button>
																				</div>
																			</div>
																		</div>
															</form>
													</div>
												</div>
											</div>
											<button type="button" style="margin-right:5px;" class="btn btn-danger float-right mt-n1" data-toggle="modal" data-target="#coloredModal1{{i.id}}"><i class="fas fa-trash"></i></button>
											<div class="modal fade" id="coloredModal1{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered" style="width:400px" role="document">
																	<div class="modal-content" style="background-color:#fff;">
																		<div class="modal-header">
																			<div class="row center">
																				<h5 style="color:black;margin-left:40px;padding-top:18px;">I understand the consequences, delete this infos</h5>
																			</div>
																		</div>
																		<form action="{% url 'delete_task_title_url' i.id %}" method="post">
																			{% csrf_token %}
																				<div class="modal-footer">
																				<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
																				<button type="submit" class="btn btn-danger">Yes</button>
																				</div>
																		</form>
																	</div>
																</div>
					</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</main>
			{% else %}
			<div style="padding: 25px;">
				<button type="button" class="btn btn-success float-right mt-n1" data-toggle="modal" data-target="#centeredModalPrimary"><i class="fas fa-plus"></i> Title</button>
				<div class="modal fade" id="centeredModalPrimary" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Create new model</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													</div>
															<form action="{% url 'task_title_create_url' %}" method="post">
																		{% csrf_token %}
																		<div class="row" style="padding:10px;">
																			<div class="form-group col-md-6">
																				<input type="text" class="form-control" value="{{ i.title_uz }}" name="title_uz"  placeholder="title_uz" required>
																			</div>
																			<div class="form-group col-md-6">
																				<input type="text" class="form-control" value="{{ i.title_ru }}" name="title_ru" placeholder="title_ru" required>
																			</div>
																			<div class="col-md-12">
																				<div class="form-group">
																				  <textarea class="form-control" name="text_uz" rows="1" placeholder="info_uz..." required></textarea>
																				</div>
																			</div>
																			<div class="col-md-12">
																				<div class="form-group">
																				  <textarea class="form-control" name="text_ru" rows="1" placeholder="info_ru..." required></textarea>
																				</div>
																			</div>
																			<div class="col-md-12">
																				<div class="modal-footer">
																				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																				<button type="submit" class="btn btn-primary">Save changes</button>
																				</div>
																			</div>
																		</div>
															</form>
													</div>
												</div>
											</div>
			</div>
			{% endif %}

{% endblock content %}